@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estrutura geral */

.toggle-wrapper{
  background-color:#000;
}
.mockup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 5rem;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
  }
  
  .chat-toggle-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    text-align: left;
    padding: .75rem;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    border-bottom: solid 1px white;
    min-height: 6.5rem;
    width: 60%;

    transition: all .2 ease-in-out;
  }
  .chat-toggle-btn:hover{
    color: #00d2ff;
    border-bottom: solid 1px #00d2ff;
  }
  .chat-toggle-btn:focus{
    color: #00d2ff;
    font-weight: bold;
    border-bottom: solid 1px #00d2ff;
  }
  .chat-toggle-btn.selected {
    color: #00d2ff;
    font-weight: bold;
    border-bottom: solid 1px #00d2ff;
  }
  .mockup {
    position: relative;
    width: 380px;
    height: 675px;
    background: #000;
    border-radius: 30px;
    overflow: hidden;
  }
  .mockup-screen {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .screen-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .screen-content.active {
    opacity: 1;
    transform: scale(1);
  }
  .chat-simulator {
    width: 375px;
    height: 667px;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .chat-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: .25rem;
    background-color: transparent;

    .first-line img{
      width: 80px;
    }

    .second-line{
      font-family: Poppins, 'sans-serif';
      font-weight: 800;
      font-size: 1.5em;
      text-align: center;
      line-height: 1em;

      .woz{
        background: linear-gradient(91deg, #0C7BFF -16.83%, #650EFB 19.22%, #9C0EFD 77.88%, #FB14F3 111.83%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Poppins;
        font-style: normal;
        font-weight: 800;

        .woz-icon{
          width: 20px;
        }
      }
    }
  }
  .chat-body {
    flex: 1;
    padding: 10px;
    gap: 10px;
  
    height: 400px; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column-reverse; 

    max-height: calc(70% - 60px); /* 70% da altura menos o espaço do rodapé */
  }
  
  .message {
    max-width: 70%;
    padding: 1rem .5rem;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0; 
    transform: translateY(10px); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
    margin-bottom: 10px; 
  }
  .message.visible {
    opacity: 1; 
    transform: translateY(0); 
  }
  .message-left{
    align-self: flex-start; 
    color: #333; 
    border-radius: 10px 10px 10px 0px; 
  }
  .message-right {
    background: #fff;
    color: black;
    align-self: flex-end;
    border-bottom-right-radius: 0;
  }
/* Tema 1 - Roxo */
.theme-btn1 .message-left {
  background: linear-gradient(0deg, #F9F7FA 0%, #EBDDF4 77.63%)!important;
  color: black;
}

.theme-btn1 .message-right {
  background-color: #9612F1;
  color: white;
}

.mockup-screen .theme-btn1{
  background: linear-gradient(0deg, #F9F7FA 0%, #EBDDF4 77.63%)!important;
}

/* Tema 2 - Azul */
.theme-btn2 .message-left {
  background: linear-gradient(0deg, #F9F7FA 0%, #D0DEEE 77.63%)!important;
  color: #000;
}

.theme-btn2 .message-right {
  background-color: #1366C9;
  color: white;
}

.theme-btn2 .mockup-screen {
  background: linear-gradient(0deg, #F9F7FA 0%, #D0DEEE 77.63%)!important;
}

/* Tema 3 - Laranja */
.theme-btn3 .message-left {
  background: linear-gradient(0deg, #F9F7FA 0%, #F2DBE1 77.63%)!important;
  color: #000;
}

.theme-btn3 .message-right {
  background-color: #FC3A6A;
  color: white;
}

.theme-btn3 .mockup-screen{
  background: linear-gradient(0deg, #F9F7FA 0%, #F2DBE1 77.63%)!important;
  }

/* Tema 4 - Roxo 2 */
.theme-btn4 .message-left {
  background: linear-gradient(0deg, #F9F7FA 0%, #EDE2ED 77.63%)!important;
  color: #000;
}

.theme-btn4 .message-right {
  background-color: #A615A1;
  color: white;
}

.theme-btn4 .mockup-screen {
  background: linear-gradient(0deg, #F9F7FA 0%, #EDE2ED 77.63%)!important;
  }

  .hidden {
    display: block; /* Para garantir que eles estejam prontos para animar */
  }
  
  .visible {
    opacity: 1;
    transform: translateY(0);
  }

  .chat-footer {
    padding: .5rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .chat-footer .typing-area{
    padding: .5rem;
    border: 2px solid #ddd;
    width: 100%;

    border-radius: 1.75rem;
    display: flex;
    align-items: center;
  }
  
  .chat-footer input {
    flex: 1;
    padding: .5rem 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }
  .chat-footer .send-msg-button {
    background: #5D28B8;
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    img{
      width: 15px;
    }
    }
  
  .chat-footer .chat-icons button:hover {
    color: #007bff;
  }

  /* Personaliza a barra de rolagem */
.chat-body::-webkit-scrollbar {
  display: none;
  width: 6px; /* Largura da barra */
  background-color: #f1f1f1; /* Cor de fundo da área da barra */
  border-radius: 4px;
}

/* Personaliza o "thumb" da barra */
.chat-body::-webkit-scrollbar-thumb {
  background-color: #b0bec5; /* Cor da barra */
  border-radius: 4px; /* Bordas arredondadas */
}

/* Efeito ao passar o mouse sobre a barra */
.chat-body::-webkit-scrollbar-thumb:hover {
  background-color: #78909c; /* Cor mais escura ao hover */
}

/* Caso você queira adicionar bordas */
.chat-body::-webkit-scrollbar-thumb {
  border: 2px solid #e0f7fa; /* Cor de borda ao redor do thumb */
}
.chat-input {
  font-size: .8em;
  font-family: 'Poppins', sans-serif;
  border: none;
  padding: 10px;
  width: 100%;
  outline: none;
  transition: all 0.3s;
  resize: none; /* Evita redimensionamento manual */
  overflow-y: auto; /* Ativa rolagem vertical */
  border-radius: .5rem;
}
.chat-input::placeholder {
  color: #999;
}

textarea{
  height: 20px;
}